body {
    background-color: #dddddd;
    .banner {
      width: 100%;
    }
  
    .categories-container {
      padding: 0 1rem;
    }

}

h1{
    text-align: center;
    padding: 1rem;
    color: var(--dark-color);
    font-family: var(--font-family-cute);
  }

  label{
    text-align: left;
    color: var(--dark-color);
    font-family: var(--font-family-cute);
    
  }


  section{

    width: 50%;
    padding: 2rem;

      

    


        form{
            background-color: #ededed;
            border-radius: 0.5rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            
            
            .button{
                
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem;

                button{
                    padding: 0.5rem;
                    width: 30%;
                    border-radius: 0.5rem;
                    border: 1px solid;
                    gap: 2rem;
                    text-align: center;
                    color: var(--dark-color);
                    font-family: var(--font-family-cute);
                    
                    
                }
            }
        }
        
        .form-group{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 1rem;
        }

        input{
            height: 2rem;
            border-radius: 0.5rem;
            padding: 0.5rem;
            border: none;
            background-color: #d9cba7;
            

        }

        textarea {
            width: 100%;
            resize: none;
            border-radius: 0.5rem;
            padding: 0.5rem;
            border: none;
            background-color: #d9cba7;
        }

        
        
        
    }


