* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --dark-color: #4a3a30;
  --light-color: #d9cca7;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  margin: 0 auto;
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-color);
  width: 100%;
  padding: 1rem;

  nav {
    display: flex;
    gap: 0.7rem;

    a {
      color: var(--light-color);
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-color);
  width: 100%;
  padding: 1rem;

  ul {
    display: flex;
    gap: 0.7rem;
  }
}
