* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --dark-color: #4a3a30;
  --light-color: #d9cca7;
  --grey-color: #dddddd;

  --font-family-cute: "Delius", cursive;
  --font-family-regular: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-color);
  width: 100%;
  padding: 1rem;

  nav {
    display: flex;
    gap: 0.7rem;

    a {
      color: var(--light-color);
      font-family: var(--font-family-cute);
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-color);
  width: 100%;
  padding: 1rem;
  color: var(--light-color);
  font-family: var(--font-family-cute);

  ul {
    display: flex;
    gap: 0.7rem;

    .social-logo {
      filter: invert(89%) sepia(15%) saturate(482%) hue-rotate(6deg)
        brightness(93%) contrast(85%);
    }
  }
}
