* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin: 0 auto;
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #4a3a30;
  width: 100%;
  padding: 1rem;

  nav {
    display: flex;
    gap: 0.7rem;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #4a3a30;
  width: 100%;
  padding: 1rem;

  ul {
    display: flex;
    gap: 0.7rem;
  }
}
