main {
  width: 800px;
  background-color: var(--grey-color);
  .banner {
    width: 100%;
  }

  .categories-container {
    padding: 0 1rem;
  }

  h1,
  h2 {
    text-align: center;
    padding: 1rem;
    color: var(--dark-color);
    font-family: var(--font-family-cute);
  }

  .category {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    h3 {
      color: var(--dark-color);
      font-family: var(--font-family-cute);
    }

    button {
      align-self: center;
      padding: 0.4rem 1.5rem;
      background-color: var(--dark-color);
      color: var(--light-color);
      font-family: var(--font-family-cute);
      border-radius: 0.2rem;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
  }

  .food-category {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    img {
      border-radius: 0.4rem;
    }
  }

  .types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    margin-bottom: 1rem;
    margin-top: 1rem;
    .type {
      background-color: var(--dark-color);
      font-family: var(--font-family-cute);
      color: var(--light-color);
      text-transform: uppercase;
      font-weight: bold;
      padding: 3rem 5rem;
      border-radius: 0.4rem;
      cursor: pointer;
    }
  }
}

.description-container {
  padding: 2rem 1rem;
  .description {
    display: flex;

    p {
      padding: 0 2.5rem;
      text-align: justify;
    }
  }
}
