main {
  width: 800px;
  padding-bottom: 1.5rem;
  background-color: var(--grey-color);
  .banner {
    width: 100%;
  }

  .categories-container {
    padding: 0 1rem;
  }

  h1,
  h2 {
    text-align: center;
    padding: 2rem;
    color: var(--dark-color);
    font-family: var(--font-family-cute);
  }

  .food-category {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    img {
      border-radius: 0.4rem;
    }
  }

  .types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 4rem;

    margin-bottom: 1rem;
    margin-top: 1rem;
    .type {
      background-color: var(--dark-color);
      font-family: var(--font-family-cute);
      color: var(--light-color);
      text-transform: uppercase;
      font-weight: bold;
      padding: 3rem 5rem;
      width: 230px;
      height: 120px;
      border-radius: 0.4rem;
      cursor: pointer;
    }
  }
}

.description-container {
  display: flex;
  gap: 1rem;
  padding: 2rem 1rem;

  p {
    padding: 0 1rem;
    text-align: justify;
    font-family: var(--font-family-cute);
  }
  img {
    border-radius: 0.5rem;
  }
}
