.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  border-radius: 3rem;
  width: 15rem;
  overflow: hidden;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.catalog {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Roboto; /* CHANGE*/
  font-size: 12px;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.catalog img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
} 



.card-text > p:first-child {
    font-weight: bold;   
    font-size: 20px;
    font-family: var(--font-family-cute);
    
  }

  .price-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    font-size: 16px;
  }

  h2 {
    text-align: center;
    padding: 1rem;
    color: var(--dark-color);
    font-family: var(--font-family-cute);
  }
