
.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: beige;
    border-radius: 3rem;
    width: 15rem;
    overflow: hidden;
}


.card-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}


.catalog {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

}

img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}



.prices-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    font-size: 1.3rem;
}